[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
sphinx_rtd_theme_github_versions = {editable = true, extras = ["dev"], path = "."}

[packages]
sphinx_rtd_theme_github_versions = {editable = true, path = "."}

[scripts]
lint = "pre-commit run --all-files --show-diff-on-failure --color=always"
tests = "pytest"
docs = "sphinx-build -EWT --keep-going docs build/html"
# Delete any files that git ignore hides from us
gitclean = "git clean -fdX"
